.orange-color {
  color: orangered;
}
.section-1 {
  height: 100%;
}
.section-2 {
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
}
.section-3 {
  margin-top: 100px;
  text-align: center;
}

body {
  font-family: "Poopins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.half-width {
  width: 40%;
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 5%;
  float: left;
}
.third-width {
  box-shadow: 5px 7px 40px gray;
  padding-left: 2%;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 7px;
  border-radius: 2%;
}
.fourth-width {
  padding-left: 2%;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 7px;
  border-radius: 2%;
  text-align: center;
}
.flex-container {
  display: flex;
}
.image-size {
  height: 100%;
}
section-5 {
  box-shadow: 5px 7px 40px gray;
  padding-left: 2%;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 7px;
  border-radius: 2%;
  text-align: center;
}

.main {
  width: 90%;
  margin: auto;

  overflow: hidden;
}

.tnew {
  width: 25%;

  margin: 100px 30px;
  padding: 30px;
  float: left;
  border-radius: 40px;
  box-shadow: 10px 0px 50px rgb(200, 200, 200);
}
.tnew > img {
  width: 100%;
}
.section-5 {
  width: 90%;
  overflow: hidden;
  margin: 100px 30px;
  padding: 30px 50px;
  border-radius: 40px;
  box-shadow: 10px 0px 50px rgb(200, 200, 200);
}
footer {
  background-color: black;
  color: blanchedalmond;
  text-align: center;
  height: 200px;
}
.grey {
  color: grey;
}
